        body {
            position: absolute;
            background-image: url("C:/Users/Muli Ann/Documents/web projects/photography/imgs/body.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
        }
        
        .nav>ul>li {
            display: inline-block;
            padding: 20px 100px;
            text-align: center;
        }
        
        .nav>ul>li>a {
            width: 100%;
            height: 100%;
            color: #000000;
            list-style: none;
            text-decoration: none;
        }
        
        .nav>ul>li>a:hover {
            background-color: #4d5b5e;
        }